.review{
    display: grid;
    grid-template-columns: [start]30px 1fr auto auto [end];
    gap:10px;
    align-items: center;

    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.description{
    grid-column: start/end;
}

.date{
    margin-right: 10px;
}

.name{
    font-weight: bold;
}

@media (max-width:970px) {
    .review{
        grid-template-columns: [start]30px [starttitle] 1fr [endtitle] auto [enddate ] auto [end];
    }

    .title{
        grid-column: start/end;
    }

    .date{
        grid-column: start/endtitle;
    }

    .rating{
        grid-column: endtitle/end;
    }
}

@media (max-width:765px) {
    .review{
        grid-template-columns: [start]30px [starttitle] 1fr [endtitle] auto [enddate ] auto [end];
    }

    .title{
        grid-column: starttitle/endtitle;
    }

    .date{
        grid-column: endtitle/enddate;
    }

    .rating{
        grid-column: enddate/end;
    }
}

@media (max-width:640px) {
    .review{
        grid-template-columns: [start]30px [starttitle] 1fr [endtitle] auto [enddate ] auto [end];
    }

    .title{
        grid-column: start/end;
    }

    .date{
        grid-column: start/endtitle;
    }

    .rating{
        grid-column: endtitle/end;
    }
}

@media (max-width:380px) {
    .review{
        grid-template-columns: [start]30px [starttitle] 1fr [endtitle] auto [enddate ] auto [end];
    }

    .date{
        grid-column: start/end;
    }

    .rating{
        grid-column: start/end;
    }
}