.wrapper{
    margin-top: 30px;
}

.title{
display: grid;
grid-template-columns: auto 1fr auto;
align-items: baseline;
justify-items: left;
gap: 20px;
}

.products{
    margin: 50px 0;
}

.hhTitle{
    grid-template-columns: auto 1fr;
}