.product {
    display: grid;
    grid-template-columns:
        [start]70px [endlogo] 30px [starttitle] calc(50% - 100px)
        [middle] 1fr [startprice] auto [endprice] 40px [startcredit] auto [endcredit] 40px [startrate] auto [end];
    margin-bottom: 30px;
    padding: 30px;
}

.logo {
    grid-column: start/endlogo;
    grid-row: 1 / span 2;
    margin-bottom: 20px;
}

.title,
.tags {
    grid-column: starttitle/middle;
}

.price,
.priceTitle {
    grid-column: startprice/endprice;
}

.credit,
.creditTitle {
    grid-column: startcredit/endcredit;
}

.rate,
.rateTitle {
    grid-column: startrate/end;
}

.hr,
.description,
.actions {
    grid-column: start/end;
}

.feature {
    grid-column: start/middle;
    margin-bottom: 30px;
}

.advBlock {
    grid-column: middle/end;
}

.logo img {
    border-radius: 5px;
}

.title,
.price,
.credit,
.rate {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    white-space: nowrap;
}

.title {
    font-weight: 600;
    white-space: normal;
}

.oldPrice {
    align-self: baseline;
    margin: 0;
    margin-top: 3px;
}

.price {
    display: grid;
    grid-template-columns: auto auto;
    gap: 7px;
}

.priceTitle,
.creditTitle,
.rateTitle,
.month {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
}

.description {
    margin: 20px 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.advantages{
    margin-bottom: 20px;
    padding-left: 15px;
    border-left: solid 3px var(--green);
}

.disadvantages{
    margin-bottom: 20px;
    padding-left: 15px;
    border-left: solid 3px var(--red);
}

.advantagesTitle,.advantagesText{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.advantagesText{
    margin-top: 5px;
    font-weight: 400;
}



.characteristics{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    padding-right: 60px;
}

.characteristicsTitle{
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
}

.characteristicsValue{
    align-self: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.characteristicsDashed{
    align-self: flex-end;
    margin-bottom: 10px;
    border-top: 1px dashed var(--grey-light);
}

.actions{
    margin-top: 20px;
}

.buttomPrimary{
    margin-right: 20px;
}

@media (max-width:1400px) {
    .product {
        grid-template-columns:
            70px 30px  auto 40px auto  40px  1fr ;

        grid-template-areas: 
            "logo . title title title title title"
            "logo . tags tags tags tags tags"
            "price price price . credit . rate"
            "priceTitle priceTitle priceTitle . creditTitle . rateTitle"
            "hr hr hr hr hr hr hr"
            "description description description description description description description"
            "feature feature feature feature feature feature feature"
            "advBlock advBlock advBlock advBlock advBlock advBlock advBlock"
            "hr2 hr2 hr2 hr2 hr2 hr2 hr2"
            "actions actions actions actions actions actions actions"
            ;
    }

    .logo{
        grid-area: logo;
    }

    .title{
        grid-area: title;
    }

    .tags{
        grid-area: tags;
    }

    .price{
        grid-area: price;
    }

    .credit{
        grid-area: credit;
    }

    .rate{
        grid-area: rate;
    }

    .priceTitle{
        grid-area: priceTitle;
    }

    .creditTitle{
        grid-area: creditTitle;
    }

    .rateTitle{
        grid-area: rateTitle;
    }

    .hr{
        grid-area: hr;
    }

    .description{
        grid-area: description;
    }

    .feature{
        grid-area: feature;
    }

    .advBlock{
        grid-area: advBlock;
    }
    
    .hr2{
        grid-area: hr2;
    }

    .actions{
        grid-area: actions;
    }

   
}