.firstLevel {
  cursor: pointer;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;

  margin-top: 20px;

  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: var(--grey-dark);
}

.firstLevelActiv,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevelActiv svg,
.firstLevel:hover svg {
  fill: var(--primary);
}

.secondBlock {
  margin-left: 12px;
  padding-left: 32px;
  border-left: 1px solid #dfdfdf;
  margin-top: 15px;
}

.secondLevel {
  margin-bottom: 10px;

  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  color: var(--grey-dark);
  text-transform: uppercase;

  cursor: pointer;
}

.secondLevelBlockOpened:last-child{
  margin-bottom: 20px;
}

.thirdLevel {
  display: block;

margin-bottom: 10px;

font-size: 14px;
  font-weight: 500;
line-height: 19px;
cursor: pointer;
color:var(--grey-dark);
}

.thirdLevelActive,
.thirdLevel:hover{
  color:var(--primary);

}
